<template>
  <div>
    create a dev branch
    <p>create a featrue branch from dev</p>
    <h1>hello world</h1>
  </div>
</template>

<script>
export default {
  name: "",
  components: {},
  props: {},
  data() {
    return {};
  },
  computed: {},
  methods: {},
  created() {},
  mounted() {}
};
</script>

<style scoped>
</style>